body {
    font-family: 'NunitoSansSemicondensed', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
    padding-top: 0;
    --cne-max-admin-container: 1170px;
}
#tainacan-admin-app {
    --tainacan-font-family: 'NunitoSansSemicondensed', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}

/* Painel de boas vindas */
.cne-admin-welcome-panel {
    padding: 1rem;
    text-align: center;
}
.cne-admin-welcome-panel .welcome-intro {
    line-height: 2.25;
    font-size: 28px !important;
    font-weight: 500 !important;
    text-transform: uppercase;
}
@media screen and (max-width: 768px) {
    .cne-admin-welcome-panel .welcome-intro {
        font-size: 24px !important;
        text-align: center;
    }
}
.cne-admin-welcome-panel h1 {
    margin-bottom: 1rem;
}
.cne-admin-welcome-panel p {
    font-size: 1rem;
}

/* Página da instituição no admin */
.instituicao-admin-area h2.instituicao-atividade-heading {
    font-size: 38px;
    font-weight: bold;
    text-transform: uppercase;
}
.instituicao-admin-area .evento-principal-dados h3 {
    font-size: 28px;
    font-weight: 600;
    text-transform: uppercase;
}
.instituicao-admin-area p {
    font-size: 16px;
}
.instituicao-admin-area .instituicao-status {
    padding: 1rem;
    display: flex;
    align-items: center;
    gap: 1em;
    font-weight: 600;
}
.instituicao-admin-area .instituicao-evento-banner {
    width: 100vw;
    max-width: unset;
    margin-left: calc(-1 * (100vw - 100%) / 2);
}
.instituicao-admin-area .evento-principal-kits {
    text-align: right;
    float: right;
    margin-left: 1rem;
    margin-top: 1rem;
}

/* Outras customizações do Admin */
html.wp-toolbar {
    --wp-admin-theme-color: var(--theme-palette-color-1);
    --wp-admin-theme-color-darker-10: var(--theme-palette-color-2);
}
.wrap .add-new-h2:hover, 
.wrap .page-title-action:hover, 
.tablenav .tablenav-pages a:hover, 
.tablenav .tablenav-pages a:focus {
    color: var(--theme-palette-color-1);
}
.wrap .add-new-h2, 
.wrap .add-new-h2:active, 
.wrap .page-title-action, 
.wrap .page-title-action:active {
    line-height: 3.2;
    font-weight: bold !important;
    border-width: 2px;
}
.wp-button-with-icon {
    display: inline-flex !important;
    gap: 0.75em;
    align-items: center;
}
body:not(.toplevel_page_ct-dashboard):not(.plugin-install-php):not(.themes-php):not(.theme-install-php):not(.index-php) #wpbody {
    max-width: var(--cne-max-admin-container,1170px);
    margin-left: auto;
    margin-right: auto;
}
#wpcontent, #wpfooter {
    margin-left: 160px;
}
.postbox .inside h2,
.wrap [class$=icon32]+h2,
.wrap h1, 
.wrap>h2:first-child {
    font-size: 40px;
    font-weight: 600;
}
h1 {
    text-transform: uppercase;
}
.wp-heading-inline {
    font-weight: 500;
    color: var(--theme-palette-color-2);
}
h2 {
    font-size: 1.75em;
}
body {
    padding-top: calc(55px - 32px);
}

@media screen and (max-width: 782px) {
    body {
        padding-top: 0;
    }
}
@media screen and (max-width: 600px) {
    body #wpbody {
        padding-top: 72px;
    }
}
#wpadminbar {
    height: 50px;
    padding: 12px 0;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    left: max(calc(1 * (100vw - var(--cne-max-admin-container,1170px)) / 2),0px);
    width: var(--cne-max-admin-container, 1170px);
    box-sizing: content-box;
}
#wpadminbar::after {
    content: '';
    position: absolute;
    width: 1000%;
    height: 100%;
    background: var(--theme-palette-color-6);
    right: 100%;
    left: -100%;
    top: 0;
    overflow: hidden;
}
#wpadminbar * {
    font-size: 16px;
}
#wpadminbar .quicklinks .ab-empty-item, 
#wpadminbar .quicklinks a, 
#wpadminbar .shortlink-input {
    height: 40px;
}
#wpadminbar .ub_admin_bar_image {
    max-height: 40px;
}
#wp-admin-bar-root-default li .ab-item,
#wp-admin-bar-top-secondary li .ab-item {
    border-radius: 2px;
    padding: 6px 12px !important;
}
#wpadminbar .ab-top-menu > li.hover > .ab-item,
#wpadminbar.nojq .quicklinks .ab-top-menu > li > .ab-item:focus,
#wpadminbar:not(.mobile) .ab-top-menu > li:hover > .ab-item,
#wpadminbar:not(.mobile) .ab-top-menu > li > .ab-item:focus {
    background:  var(--theme-palette-color-1);
    color: white;
}
#wpadminbar .menupop .ab-sub-wrapper {
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}
#wpadminbar .display-name {
    font-weight: bold;
}
#wpadminbar #wp-admin-bar-user-info .username {
    color: white !important;
    font-size: 11px;
    margin-top: 4px;
}
#wpadminbar #wp-admin-bar-my-account.with-avatar > .ab-empty-item img, 
#wpadminbar #wp-admin-bar-my-account.with-avatar > a img {
    margin-left: 16px;
    border-radius: 100em;
    height: 24px;
}
#wp-admin-bar-user-info .avatar {
    border-radius: 100em;
}
#wp-admin-bar-site-name > .ab-item::before {
    display: none;
}
#wp-admin-bar-site-name > .ab-item {
    background-image: url('https://evento.museus.gov.br/wp-content/themes/cne/assets/images/logo-white.svg') !important;
    background-repeat: no-repeat !important;
    background-size: 150px auto !important;
    background-position: center !important;
    font-size: 0;
    width: 160px;
}
html.wp-toolbar #wp-admin-bar-site-name:not(:hover):not(:focus) > .ab-item:not(:hover):not(:focus) {
    background-image: url('https://evento.museus.gov.br/wp-content/themes/cne/assets/images/logo.svg') !important;
    background-repeat: no-repeat !important;
    background-size: 150px auto !important;
    background-position: center !important;
    font-size: 0;
    width: 160px;
}
@media screen and (max-width: 782px) {
    #wp-admin-bar-site-name > .ab-item {
        font-size: 0 !important;
        width: 138px !important;
    }
}
@media screen and (min-width: 601px) {
    html.wp-toolbar {
        padding-top: 72px; 
    }
}
body:not(.block-editor-page):not(.wp-customizer):not(.tainacan-admin-page).wp-core-ui .button,
body:not(.block-editor-page):not(.wp-customizer):not(.tainacan-admin-page).wp-core-ui p .button,
body:not(.block-editor-page):not(.wp-customizer):not(.tainacan-admin-page).wp-core-ui .button-secondary,
body:not(.block-editor-page):not(.wp-customizer):not(.tainacan-admin-page) .wrap .add-new-h2,
body:not(.block-editor-page):not(.wp-customizer):not(.tainacan-admin-page) .wrap .page-title-action,
body:not(.block-editor-page):not(.wp-customizer):not(.tainacan-admin-page) .tablenav .tablenav-pages a,
body:not(.block-editor-page):not(.wp-customizer):not(.tainacan-admin-page) .tablenav .tablenav-pages a,
body:not(.block-editor-page):not(.wp-customizer):not(.tainacan-admin-page).post-type-cne-instituicoes .components-button,
body:not(.block-editor-page):not(.wp-customizer):not(.tainacan-admin-page) input:not([type="checkbox"]):not([type="radio"]),
body:not(.block-editor-page):not(.wp-customizer):not(.tainacan-admin-page) select {
    border-radius: 8px;
    min-height: 44px;
    font-weight: 600;
    padding-left: 16px;
    padding-right: 16px;
}
body:not(.block-editor-page):not(.wp-customizer):not(.tainacan-admin-page).wp-core-ui .button,
body:not(.block-editor-page):not(.wp-customizer):not(.tainacan-admin-page).wp-core-ui p .button {
    line-height: 3.2;
}
body:not(.block-editor-page):not(.wp-customizer):not(.tainacan-admin-page) .wrap .button .dashicons,
body:not(.block-editor-page):not(.wp-customizer):not(.tainacan-admin-page) .wrap .button .dashicons::before,
body:not(.block-editor-page):not(.wp-customizer):not(.tainacan-admin-page) .wrap .page-title-action .dashicons,
body:not(.block-editor-page):not(.wp-customizer):not(.tainacan-admin-page) .wrap .page-title-action .dashicons-before::before {
    line-height: 1.5;
}
body:not(.block-editor-page):not(.wp-customizer):not(.tainacan-admin-page) select {
    padding-right: 30px !important;
}
body:not(.block-editor-page):not(.wp-customizer):not(.tainacan-admin-page) table .row-title {
    font-size: 16px !important;
}
.museusbr-fetcher-button-container {
    top: -2px;
    position: relative;
}

/* Tabelas do Admin WordPress */
body:not(.block-editor-page):not(.wp-customizer):not(.tainacan-admin-page) table {
    border-radius: 8px;
    margin: 30px 0 12px;
    border: none;
}
body:not(.block-editor-page):not(.wp-customizer):not(.tainacan-admin-page) table thead td,
body:not(.block-editor-page):not(.wp-customizer):not(.tainacan-admin-page) table thead th {
    text-transform: uppercase;
    vertical-align: baseline;
    font-weight: 600;
}
body:not(.block-editor-page):not(.wp-customizer):not(.tainacan-admin-page) table tbody td {
    font-size: 16px;
    border-bottom: 1px solid #bababa;
}
body:not(.block-editor-page):not(.wp-customizer):not(.tainacan-admin-page) table tr .row-actions {
    font-size: 16px;
    position: static;
    display: flex;
    gap: 1rem;
}
body:not(.block-editor-page):not(.wp-customizer):not(.tainacan-admin-page) table tr .row-actions a,
body:not(.block-editor-page):not(.wp-customizer):not(.tainacan-admin-page) table tr .row-actions .button-link  {
    color: #838383;
}
body:not(.block-editor-page):not(.wp-customizer):not(.tainacan-admin-page) table tr .row-actions .edit,
body:not(.block-editor-page):not(.wp-customizer):not(.tainacan-admin-page) table tr .row-actions .trash,
body:not(.block-editor-page):not(.wp-customizer):not(.tainacan-admin-page) table tr .row-actions .view,
body:not(.block-editor-page):not(.wp-customizer):not(.tainacan-admin-page) table tr .row-actions .inline {
    position: relative;
    padding-left: 1.25em;
}
body:not(.block-editor-page):not(.wp-customizer):not(.tainacan-admin-page) table tr .row-actions .edit::before,
body:not(.block-editor-page):not(.wp-customizer):not(.tainacan-admin-page) table tr .row-actions .trash::before,
body:not(.block-editor-page):not(.wp-customizer):not(.tainacan-admin-page) table tr .row-actions .view::before,
body:not(.block-editor-page):not(.wp-customizer):not(.tainacan-admin-page) table tr .row-actions .inline::before {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    content: '';
    width: 16px;
    height: 16px;
    display: block;
    position: absolute;
    top: 2px;
    left: 0;
}
body:not(.block-editor-page):not(.wp-customizer):not(.tainacan-admin-page) table tr .row-actions .edit::before {
    background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.16504 13.6292H14.0001' stroke='%23BABABA' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M8.52001 2.52986C9.0371 1.91186 9.96666 1.82124 10.5975 2.32782C10.6324 2.35531 11.753 3.22586 11.753 3.22586C12.446 3.64479 12.6613 4.5354 12.2329 5.21506C12.2102 5.25146 5.87463 13.1763 5.87463 13.1763C5.66385 13.4393 5.34389 13.5945 5.00194 13.5982L2.57569 13.6287L2.02902 11.3149C1.95244 10.9895 2.02902 10.6478 2.2398 10.3849L8.52001 2.52986Z' stroke='%23BABABA' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M7.34766 4L10.9825 6.79142' stroke='%23BABABA' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
}
body:not(.block-editor-page):not(.wp-customizer):not(.tainacan-admin-page) table tr .row-actions .edit:hover a {
    color: #011546;
}
body:not(.block-editor-page):not(.wp-customizer):not(.tainacan-admin-page) table tr .row-actions .edit:hover a::before {
    background: #85a1cc54;
    content: '';
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: -2px;
    left: -2px;
    border-radius: 8px;
    padding: 2px;
}
body:not(.block-editor-page):not(.wp-customizer):not(.tainacan-admin-page) table tr .row-actions .trash::before {
    background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2 4H3.33333H14' stroke='%23BABABA' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M5.33301 4.00065V2.66732C5.33301 2.3137 5.47348 1.97456 5.72353 1.72451C5.97358 1.47446 6.31272 1.33398 6.66634 1.33398H9.33301C9.68663 1.33398 10.0258 1.47446 10.2758 1.72451C10.5259 1.97456 10.6663 2.3137 10.6663 2.66732V4.00065M12.6663 4.00065V13.334C12.6663 13.6876 12.5259 14.0267 12.2758 14.2768C12.0258 14.5268 11.6866 14.6673 11.333 14.6673H4.66634C4.31272 14.6673 3.97358 14.5268 3.72353 14.2768C3.47348 14.0267 3.33301 13.6876 3.33301 13.334V4.00065H12.6663Z' stroke='%23BABABA' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M9.33301 7.33398V11.334' stroke='%23BABABA' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M6.66699 7.33398V11.334' stroke='%23BABABA' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
}
body:not(.block-editor-page):not(.wp-customizer):not(.tainacan-admin-page) table tr .row-actions .trash:hover a {
    color: #970E05;
}
body:not(.block-editor-page):not(.wp-customizer):not(.tainacan-admin-page) table tr .row-actions .trash:hover a::before {
    background: #e5bebe54;
    content: '';
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: -2px;
    left: -2px;
    border-radius: 8px;
    padding: 2px;
}
body:not(.block-editor-page):not(.wp-customizer):not(.tainacan-admin-page) table tr .row-actions .view::before {
    background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_641_3519)'%3E%3Cpath d='M0.666992 7.99935C0.666992 7.99935 3.33366 2.66602 8.00033 2.66602C12.667 2.66602 15.3337 7.99935 15.3337 7.99935C15.3337 7.99935 12.667 13.3327 8.00033 13.3327C3.33366 13.3327 0.666992 7.99935 0.666992 7.99935Z' stroke='%23BABABA' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M8 10C9.10457 10 10 9.10457 10 8C10 6.89543 9.10457 6 8 6C6.89543 6 6 6.89543 6 8C6 9.10457 6.89543 10 8 10Z' stroke='%23BABABA' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_641_3519'%3E%3Crect width='16' height='16' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
}
body:not(.block-editor-page):not(.wp-customizer):not(.tainacan-admin-page) table tr .row-actions .view:hover a {
    color: #218963;
}
body:not(.block-editor-page):not(.wp-customizer):not(.tainacan-admin-page) table tr .row-actions .view:hover a::before {
    background: #e2f5c654;
    content: '';
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: -2px;
    left: -2px;
    border-radius: 8px;
    padding: 2px;
}
body:not(.block-editor-page):not(.wp-customizer):not(.tainacan-admin-page) table tr .row-actions .inline::before {
    background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.16504 13.6292H14.0001' stroke='%23BABABA' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M8.52001 2.52986C9.0371 1.91186 9.96666 1.82124 10.5975 2.32782C10.6324 2.35531 11.753 3.22586 11.753 3.22586C12.446 3.64479 12.6613 4.5354 12.2329 5.21506C12.2102 5.25146 5.87463 13.1763 5.87463 13.1763C5.66385 13.4393 5.34389 13.5945 5.00194 13.5982L2.57569 13.6287L2.02902 11.3149C1.95244 10.9895 2.02902 10.6478 2.2398 10.3849L8.52001 2.52986Z' stroke='%23BABABA' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M7.34766 4L10.9825 6.79142' stroke='%23BABABA' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
}
body:not(.block-editor-page):not(.wp-customizer):not(.tainacan-admin-page) table .tablenav.top .tablenav-pages,
body:not(.block-editor-page):not(.wp-customizer):not(.tainacan-admin-page) table tfoot,
body:not(.block-editor-page):not(.wp-customizer):not(.tainacan-admin-page) table .tablenav.bottom .actions {
    display: none;
    visibility: hidden;
}