.single .atividade-main-section {
    display: flex;
    align-items: flex-start;
    gap: 42px;
    flex-wrap: wrap;
    width: 100%;    
}
.single .atividade-main-section > * {
    flex-basis: calc(50% - 42px);
    flex-shrink: 0;
    flex-grow: 1;
    max-width: 50%;
}
.single .atividade-main-section .page-title {
    --theme-headings-color: var(--theme-palette-color-3);
}
@media screen and (max-width: 1000px) {  
    .single .atividade-main-section > * {
        flex-basis: 100%;
        max-width: 100%;
    }
    [data-prefix="tnc_col_15_item_single"] .entry-header .entry-meta,
    .single .atividade-main-section .page-title {
        font-weight: bold;
    }
    .single .atividade-description {
        gap: 18px 3.875em;
    }
}
.single .atividade-description {
    display: flex;
    gap: 24px 3.875em;
    flex-wrap: wrap;
}
.single .atividade-description > * {
    flex-basis: 100%;
}
.single .atividade-description p {
    margin-bottom: 0;
    overflow: hidden;
    display: -webkit-box !important;
    line-clamp: 10;
    -webkit-line-clamp: 10;
    -webkit-box-orient: vertical;
}
.single .atividade-description .metadata-slug-data-de-inicio-da-atividade,
.single .atividade-description .metadata-slug-data-de-fim-da-atividade,
.single .atividade-description .metadata-slug-horario-de-inicio-da-atividade,
.single .atividade-description .metadata-slug-horario-de-fim-da-atividade {
    flex-basis: 56px;
    flex-shrink: 1;
    flex-grow: 0;
    font-size: 24px;
    font-weight: bold;
    position: relative;
}
@media screen and (max-width: 769px) {
    .single .atividade-description .metadata-slug-data-de-inicio-da-atividade,
    .single .atividade-description .metadata-slug-data-de-fim-da-atividade,
    .single .atividade-description .metadata-slug-horario-de-inicio-da-atividade,
    .single .atividade-description .metadata-slug-horario-de-fim-da-atividade {
        font-size: 16px !important;
    }
    .single .atividade-description .metadata-slug-data-de-inicio-da-atividade,
    .single .atividade-description .metadata-slug-horario-de-inicio-da-atividade {
        flex-basis: 72px !important;
    }
    .single .atividade-description .metadata-slug-data-de-inicio-da-atividade::after,
    .single .atividade-description .metadata-slug-horario-de-inicio-da-atividade::after {
        font-size: 16px !important;
    }
    .single .atividade-description .metadata-slug-horario-de-fim-da-atividade,
    .single .atividade-description .metadata-slug-data-de-fim-da-atividade {
        margin-left: -2em !important;
    }
    .single .atividade-description .metadata-slug-horario-de-inicio-da-atividade .date-icon svg,
    .single .atividade-description .metadata-slug-data-de-inicio-da-atividade .date-icon svg {
        margin-bottom: -6px !important;
    }
    .single .atividade-description .metadata-slug-data-de-fim-da-atividade {
        flex-basis: calc(100% - 8em) !important;
    }
}
.single .atividade-description .metadata-slug-horario-de-fim-da-atividade,
.single .atividade-description .metadata-slug-data-de-fim-da-atividade {
    margin-left: -0.35em;
}
.single .atividade-description .metadata-slug-horario-de-inicio-da-atividade .date-icon svg,
.single .atividade-description .metadata-slug-data-de-inicio-da-atividade .date-icon svg {
    margin-bottom: -2px;
}
.single .atividade-description .metadata-slug-data-de-inicio-da-atividade::after {
    content: ' a ';
    display: inline-block;
    font-weight: bold;
    font-size: 24px;
    position: absolute;
    bottom: 0;
    right: -1.125em;
}
.single .atividade-description .metadata-slug-horario-de-inicio-da-atividade::after {
    content: ' às ';
    display: inline-block;
    font-weight: bold;
    font-size: 24px;
    position: absolute;
    bottom: 0;
    right: -1.35em;
}
.single .atividade-description .metadata-slug-data-de-inicio-da-atividade,
.single .atividade-description .metadata-slug-horario-de-inicio-da-atividade {
    flex-basis: 101px;
}
.single .tainacan-item-section-cne-important .metadata-slug-classificacao-indicativa,
.single .tainacan-item-section-cne-important .metadata-slug-ingressos-2,
.single .tainacan-item-section-cne-important .metadata-slug-a-atividade-e-gratuita {
    flex-basis: calc((100% - 32px)/2);
    flex-shrink: 1;
    flex-grow: 0;
}
.single .tainacan-item-section-cne-important .metadata-slug-formato-da-atividade {
    flex-basis: 100%;
}
@media screen and (max-width: 680px) {
    .single .tainacan-item-section-cne-important .metadata-slug-classificacao-indicativa,
    .single .tainacan-item-section-cne-important .metadata-slug-formato-da-atividade,
    .single .tainacan-item-section-cne-important .metadata-slug-ingressos-2,
    .single .tainacan-item-section-cne-important .metadata-slug-a-atividade-e-gratuita  {
        flex-basis: 100%;
    }
    .single .tainacan-item-section-cne-important .metadata-slug-a-atividade-e-gratuita {
        width: 100% !important;
    }
}
.single .tainacan-item-section-cne-important .metadata-slug-ingressos-2 .tainacan-metadata-label,
.single .tainacan-item-section-cne-important .metadata-slug-a-atividade-e-gratuita .tainacan-metadata-label {
    display: none !important;
}

.single .tainacan-item-section-cne-important .metadata-slug-a-atividade-e-gratuita:has(+.metadata-slug-ingressos-2) {
    position: absolute;
    top: -0.5em;
}
.single .tainacan-item-section-cne-important .metadata-slug-a-atividade-e-gratuita {
    color: #218963;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    width: calc((100% - 32px)/2);
}
.single .tainacan-item-section-cne-important .metadata-slug-ingressos-2 a {
    padding: 12px 32px;
    border-radius: 6px;
    background: var(--theme-palette-color-12);
    color: var(--theme-palette-color-8);
    display: block;
    font-size: 0;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
}
.single .tainacan-item-section-cne-important .metadata-slug-ingressos-2 a:hover {
    background: var(--theme-palette-color-2);
}
.single .tainacan-item-section-cne-important .metadata-slug-ingressos-2 a:focus {
    background: var(--theme-palette-color-2);
}
.single .tainacan-item-section-cne-important .metadata-slug-ingressos-2 a::before {
    content: 'Ingressos';
    display: block;
    font-size: 1rem;
}
.single .metadata-type-url a {
    word-wrap: anywhere;
}

.single .atividade-gallery {
    --theme-border-radius: 0px;
}
.single .atividade-gallery .tainacan-media-component {
    gap: 0px;
} 
.single .atividade-gallery .tainacan-media-component .tainacan-media-component__swiper-main ul.swiper-wrapper {
    max-height: var(--tainacan-media-main-carousel-height, 60vh);
}
  
.single .atividade-gallery .tainacan-media-component .tainacan-media-component__swiper-main li.swiper-slide {
    padding: 0;
}
  
.single .atividade-gallery .tainacan-media-component .tainacan-media-component__swiper-main .swiper-slide-content {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
  
.single .atividade-gallery .tainacan-media-component .tainacan-media-component__swiper-main .swiper-slide-content a:first-of-type,
.single .atividade-gallery .tainacan-media-component .tainacan-media-component__swiper-main .swiper-slide-content p:first-of-type {
    padding: 0;
    flex-grow: 1;
}
  
.single .atividade-gallery .tainacan-media-component .tainacan-media-component__swiper-main .swiper-slide-content img {
    width: auto;
    height: 100%;
    max-width: unset;
    object-fit: cover;
    object-position: center;
    border-radius: 8px;
}
  
@media (min-aspect-ratio: 1 / 1) {
    .single .atividade-gallery .tainacan-media-component .tainacan-media-component__swiper-main .swiper-slide-content img {
        width: 100%;
        height: auto;
    }
}
  
.single .atividade-gallery .tainacan-media-component .tainacan-media-component__swiper-main .swiper-slide-content video,
.single .atividade-gallery .tainacan-media-component .tainacan-media-component__swiper-main .swiper-slide-content audio {
    margin: calc( 1.5 * var(--swiper-navigation-size));
}
  
.single .atividade-gallery .tainacan-media-component .tainacan-media-component__swiper-main li.swiper-slide .swiper-slide-metadata {
    background-color: var(--tainacan-media-background-color, var(--theme-palette-color-7, var(--paletteColor7)));
    border-radius: 2px;
    padding: 0.5rem 1rem;
    margin: 1rem;
    bottom: 0;
    position: absolute;
    z-index: 99;
    left: calc( 1.5 * var(--swiper-navigation-size));
}
  
.single .atividade-gallery .tainacan-media-component .tainacan-media-component__swiper-main .swiper-button-prev,
.single .atividade-gallery .tainacan-media-component .tainacan-media-component__swiper-main .swiper-button-next {
    border-radius: 100em;
    padding: 1.5em;
    width: var(--swiper-navigation-size);
    background: rgba(255, 255, 255, 0);
    transition: background-color 0.2s ease;
}
  
.single .atividade-gallery .tainacan-media-component .tainacan-media-component__swiper-main:hover .swiper-button-prev,
.single .atividade-gallery .tainacan-media-component .tainacan-media-component__swiper-main:hover .swiper-button-next,
.single .atividade-gallery .tainacan-media-component .tainacan-media-component__swiper-main:focus .swiper-button-prev,
.single .atividade-gallery .tainacan-media-component .tainacan-media-component__swiper-main:focus .swiper-button-next {
    background: var(--tainacan-media-background-color, var(--theme-palette-color-7, var(--paletteColor7)));
}
  
.single .atividade-gallery .tainacan-media-component .tainacan-media-component__swiper-thumbs ul.swiper-wrapper {
    max-width: 100%;
    margin: 0;
}
  
.single .atividade-gallery .tainacan-media-component .tainacan-media-component__swiper-thumbs li.swiper-slide:not(.has-fixed-height) {
    max-width: var(--tainacan-media-thumbs-carousel-item-size, 136px);
}

.single .tainacan-atividade-single-body {
    display: block;
}

.single .tainacan-atividade-single-body .tainacan-item-section--metadata-sections {
    display: grid;
    gap: 42px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto auto auto auto;
    grid-template-areas: 'importante importante endereco endereco'
                         'contato enderecovirtual endereco endereco'
                         'contatoprivado enderecovirtual endereco endereco'
                         'compartilhe compartilhe endereco endereco';
}
@media screen and (max-width: 1000px) {
    .single .tainacan-atividade-single-body .tainacan-item-section--metadata-sections {
        gap: 24px;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto auto auto auto auto;
        grid-template-areas: 'importante importante enderecovirtual'
                             'contato enderecovirtual enderecovirtual'
                             'contatoprivado enderecovirtual enderecovirtual'
                             'endereco endereco endereco'
                             'compartilhe compartilhe compartilhe';
    }
}
@media screen and (max-width: 768px) {
    .single .tainacan-atividade-single-body .tainacan-item-section--metadata-sections {
        gap: 12px;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto auto auto auto;
        grid-template-areas: 'importante'
                             'contato'
                             'contatoprivado'
                             'enderecovirtual'
                             'endereco'
                             'compartilhe';
    }
}
.single .tainacan-item-section-cne-important {
    grid-area: importante !important;
    display: flex;
    gap: 24px 32px;
    flex-wrap: wrap;
    position: relative;
}
.single .tainacan-item-section-cne-important .tainacan-metadata-label {
    --theme-font-weight: 700;
    --theme-text-transform: uppercase;
    --theme-font-size: 20px !important;
    --theme-line-height: 1.3;
    --section-alignment: left;
}
.single .tainacan-item-section--metadata {
    margin-bottom: 0;
}
.single .tainacan-item-section--metadata:has(#metadata-section-endereco-fisico-da-atividade) {
    grid-area: endereco;
}
.single .tainacan-item-section--metadata:has(#metadata-section-endereco-virtual-da-atividade) {
    grid-area: enderecovirtual;
}
.single .tainacan-item-section--metadata:has(#metadata-section-contato-2) {
    grid-area: contato;
}
.single .tainacan-item-section--metadata:has(#metadata-section-contato-privado-2) {
    grid-area: contatoprivado;
}
.single .tainacan-item-section--metadata #metadata-section-default_section {
    display: none;
}
.single .tainacan-item-section__metadata .tainacan-metadata-label {
    color: var(--theme-palette-color-4);
    margin-bottom: 0.75rem;
}
.single .tainacan-item-section__metadata .metadata-slug-dias-e-horarios-de-abertura-para-o-publico {
    column-span: all;
    display: block !important;
}
.single .tainacan-item-section__metadata .metadata-type-geocoordinate .tainacan-metadata-label {
    display: none;
}
.single #metadata-section-contato-2 + .tainacan-item-section__metadata .tainacan-metadata-label,
.single #metadata-section-contato-2 + .tainacan-item-section__metadata .child-metadatum-label,
.single #metadata-section-contato-privado-2 + .tainacan-item-section__metadata .tainacan-metadata-label,
.single #metadata-section-contato-privado-2 + .tainacan-item-section__metadata .child-metadatum-label {
    display: none;
}
.single #metadata-section-contato-2 + .tainacan-item-section__metadata .tainacan-metadata-value,
.single #metadata-section-contato-privado-2 + .tainacan-item-section__metadata .tainacan-metadata-value {
    margin-bottom: 0;
}
.single .tainacan-item-section__metadata .metadata-slug-redes-sociais .tainacan-compound-group {
    display: flex;
    gap: 16px;
    align-self: center;
    border: none;
    padding-left: 0;
    padding-top: 0;
    margin: 0.5rem 0 1.5rem;
}
.single .tainacan-item-section__metadata .metadata-slug-redes-sociais .tainacan-metadatum.metadata-type-url {
    width: auto !important;
}
.single .tainacan-item-section__metadata .metadata-slug-redes-sociais .tainacan-metadatum.metadata-type-url.metadata-slug-youtube .wp-block-buttons > a {
    background-image: url('../images/youtube.png');
}
.single .tainacan-item-section__metadata .metadata-slug-redes-sociais .tainacan-metadatum.metadata-type-url.metadata-slug-facebook .wp-block-buttons  > a {
    background-image: url('../images/facebook.png');
}
.single .tainacan-item-section__metadata .metadata-slug-redes-sociais .tainacan-metadatum.metadata-type-url.metadata-slug-url .wp-block-buttons > a {
    background-image: url('../images/twitter.png');
}
.single .tainacan-item-section__metadata .metadata-slug-redes-sociais .tainacan-metadatum.metadata-type-url.metadata-slug-instagram .wp-block-buttons > a {
    background-image: url('../images/instagram.png');
}
.single .tainacan-item-section__metadata .metadata-slug-redes-sociais .tainacan-metadatum.metadata-type-url.metadata-slug-tiktok .wp-block-buttons > a {
    background-image: url('../images/tiktok.png');
}
.single .tainacan-item-section__metadata .metadata-slug-redes-sociais .tainacan-metadatum.metadata-type-url.metadata-slug-outra-rede-social .wp-block-buttons > a {
    background-image: url('../images/link.png');
}
.single .tainacan-item-section__metadata .metadata-slug-redes-sociais .tainacan-metadatum.metadata-type-url .wp-block-buttons > a {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: var(--theme-palette-color-7);
    font-size: 0;
    width: 32px;
    height: 32px;
    display: block;
    border-radius: 8px;
}
.single .tainacan-item-section__metadata .metadata-slug-redes-sociais .tainacan-metadatum.metadata-type-url .wp-block-buttons > a:hover {
    background-color: var(--theme-palette-color-6);
}

/* Area de compartilhar */
.single .ct-share-box {
    grid-area: compartilhe;
    width: fit-content;
    border: 1px solid var(--theme-palette-color-5);
    border-radius: 8px;
    padding: 1.75em 2em;
    margin-bottom: 0;
    align-self: end;
}
.single .ct-share-box[data-type="type-1"] > div {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(33px, 1fr));
}
.single .atividade-evento-area + .ct-share-box {
    display: none;
    visibility: hidden;
}
@media screen and (max-width: 768px) {
    .single .ct-share-box {
        padding: 1.5em 1.75em;
    }
}

/* Banner da instituição */
.single .atividade-instituicao-area {
    padding: 24px 32px;
    background-color: var(--theme-palette-color-6);
    margin-left: auto;
    margin-right: auto;
    width: var(--theme-container-width);
    max-width: var(--theme-block-max-width);
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    border-radius: 8px;
}
.single .atividade-instituicao-area p {
    margin-bottom: 0.25rem;
}
.single .atividade-instituicao-area .tainacan-metadata-value {
    font-weight: 600;
    font-size: 24px;
    text-transform: uppercase;
}
.single .atividade-evento-area {
    margin: 32px auto;
    width: var(--theme-container-width);
    max-width: var(--theme-block-max-width);
}
.single .atividade-evento-area img {
    height: auto;
    width: 100%;
    border-radius: 8px;
}
@media screen and (min-width: 769px) {
    .single .atividade-evento-area .is-hidden-tablet {
      display: none !important;
    }
}
@media screen and (max-width: 768px) {
    .single .atividade-evento-area .is-hidden-mobile {
      display: none !important;
    }
}

.tainacan-item-single-page .tainacan-item-single h3.tainacan-single-item-section {
	color: var(--theme-palette-color-3);
}

/* Simplifica o metadado de contatos */
.single .metadata-slug-contatos .tainacan-relationship-metadatum .tainacan-metadatum {
	padding-left: 0 !important;
}

/* Seção de endereço */
.single .tainacan-item-section--metadata > #metadata-section-endereco-fisico-da-atividade + .tainacan-item-section__metadata {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem 12px;
}
.single .tainacan-item-section--metadata > #metadata-section-endereco-fisico-da-atividade + .tainacan-item-section__metadata > * {
    flex-basis: calc(33.32% - 8px);
}
.single .tainacan-item-section--metadata > #metadata-section-endereco-fisico-da-atividade + .tainacan-item-section__metadata p {
    margin-bottom: 0;
    padding-bottom: 0;
}
.single .tainacan-item-section--metadata > #metadata-section-endereco-fisico-da-atividade + .tainacan-item-section__metadata > .metadata-slug-endereco-2,
.single .tainacan-item-section--metadata > #metadata-section-endereco-fisico-da-atividade + .tainacan-item-section__metadata > .metadata-slug-complemento-endereco,
.single .tainacan-item-section--metadata > #metadata-section-endereco-fisico-da-atividade + .tainacan-item-section__metadata > .metadata-type-geocoordinate {
    flex-basis: 100%;
}
@media screen and (min-width: 968px) {
	.single .tainacan-item-section--metadata > #metadata-section-endereco-fisico-da-atividade + .tainacan-item-section__metadata >.metadata-slug-regiao-2 {
        flex-basis: 110px;
    }
    .single .tainacan-item-section--metadata > #metadata-section-endereco-fisico-da-atividade + .tainacan-item-section__metadata >.metadata-slug-estado-2 {
        flex-basis: 62px;
    }
    .single .tainacan-item-section--metadata > #metadata-section-endereco-fisico-da-atividade + .tainacan-item-section__metadata >.metadata-slug-cidade-2 {
        flex-basis: calc(100% - 110px - 68px - 36px);
        flex-shrink: 0;
        flex-grow: 1;
    }
    .single .tainacan-item-section--metadata > #metadata-section-endereco-fisico-da-atividade + .tainacan-item-section__metadata >.metadata-slug-bairro-2,
    .single .tainacan-item-section--metadata > #metadata-section-endereco-fisico-da-atividade + .tainacan-item-section__metadata >.metadata-slug-numero-endereco-2 {
        flex-basis: calc(50% - 36px);
        flex-shrink: 0;
        flex-grow: 1;
    }
}
@media screen and (max-width: 768px) {
    .single .tainacan-item-section--metadata > #metadata-section-endereco-fisico-da-atividade + .tainacan-item-section__metadata > * {
        flex-basis: calc(50% - 16px);
    }
}

.single .atividade-instituicao-area .metadata-slug-redes-sociais .tainacan-compound-group {
    display: flex;
    gap: 16px;
    align-self: center;
    border: none;
    padding-left: 0;
    padding-top: 0;
    margin: 0;
    justify-content: center;
}
.single .atividade-instituicao-area .metadata-slug-redes-sociais .tainacan-compound-group .child-metadatum-label,
.single .atividade-instituicao-area .metadata-slug-redes-sociais .tainacan-metadata-label {
    display: none;
}
.single .atividade-instituicao-area .metadata-slug-redes-sociais .tainacan-metadatum.metadata-type-url {
    width: auto !important;
}
.single .atividade-instituicao-area .metadata-slug-redes-sociais .tainacan-metadatum.metadata-type-url.metadata-slug-youtube .wp-block-buttons > a {
    background-image: url('../images/youtube.png');
}
.single .atividade-instituicao-area .metadata-slug-redes-sociais .tainacan-metadatum.metadata-type-url.metadata-slug-facebook .wp-block-buttons  > a {
    background-image: url('../images/facebook.png');
}
.single .atividade-instituicao-area .metadata-slug-redes-sociais .tainacan-metadatum.metadata-type-url.metadata-slug-url .wp-block-buttons > a {
    background-image: url('../images/twitter.png');
}
.single .atividade-instituicao-area .metadata-slug-redes-sociais .tainacan-metadatum.metadata-type-url.metadata-slug-instagram .wp-block-buttons > a {
    background-image: url('../images/instagram.png');
}
.single .atividade-instituicao-area .metadata-slug-redes-sociais .tainacan-metadatum.metadata-type-url.metadata-slug-tiktok .wp-block-buttons > a {
    background-image: url('../images/tiktok.png');
}
.single .atividade-instituicao-area .metadata-slug-redes-sociais .tainacan-metadatum.metadata-type-url.metadata-slug-outra-rede-social .wp-block-buttons > a {
    background-image: url('../images/link.png');
}
.single .atividade-instituicao-area .metadata-slug-redes-sociais .tainacan-metadatum.metadata-type-url .wp-block-buttons > a {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    color: var(--theme-palette-color-1);
    font-size: 0;
    width: 32px;
    height: 32px;
    display: block;
    border-radius: 8px;
}
.single .atividade-instituicao-area .metadata-slug-redes-sociais .tainacan-metadatum.metadata-type-url .wp-block-buttons > a:hover {
    background-color: var(--theme-palette-color-6);
}