.user-is-gestor {
    --tainacan-secondary: #2271b1;
    --tainacan-turquoise5: #2271b1;
    --tainacan-primary: #f6f7f7;
    --wordpress-topbar-height: 55px;
}
.user-is-gestor #tainacan-admin-app {
    --tainacan-background-color: #fff;
    --tainacan-sidebar-width: 0px;
    --tainacan-one-column: 1.25rem;
    --tainacan-gray1: #fafafa;
    --tainacan-gray2: #c3c4c7;
    --tainacan-label-color: #282828;
    --tainacan-info-color: #4b4b4b;
    --tainacan-input-color: #2c3338;
    --tainacan-input-border-color: #bcb8b8;
    --tainacan-input-border-radius: 6px;
    --tainacan-success: var(--theme-palette-color-1);
    --tainacan-dropdownmenu-border-radius: 8px;
    --tainacan-button-border-radius: 8px;
    position: unset;
    font-size: 1.063em;
}

/* Barras de scroll mais acessíveis */
.user-is-gestor #tainacan-admin-app * {
    scrollbar-color: initial !;
}
.user-is-gestor #tainacan-admin-app *::-webkit-scrollbar-thumb {
    background-color: initial;
}

@media screen and (min-width: 770px) {
    .user-is-gestor #tainacan-admin-app * {
        scrollbar-width: initial;
    }
    .user-is-gestor #tainacan-admin-app *::-webkit-scrollbar {
        width: initial;
    }
}

body.user-is-gestor.tainacan-admin-page {
    padding-top: 0;
}
.user-is-gestor #adminmenumain,
.user-is-gestor #wp-admin-bar-menu-toggle {
    display: none !important;
    visibility: hidden;
}
.user-is-gestor #wpcontent {
    padding-left: 0;
    margin-left: 0;
}
.user-is-gestor #wpcontent .wrap {
    margin: 24px 4.5%;
}
.user-is-gestor.edit-php.post-type-museusbr-museus .subsubsub li:not(.mine) {
    display: none;
    visibility: hidden;
}
.user-is-gestor #wpbody-content {
    padding-bottom: 0;
}
@media screen and (max-width: 782px) {
    .user-is-gestor #wpadminbar #wp-admin-bar-comments,
    .user-is-gestor #wpadminbar #wp-admin-bar-edit,
    .user-is-gestor #wpadminbar #wp-admin-bar-my-account,
    .user-is-gestor #wpadminbar #wp-admin-bar-my-sites,
    .user-is-gestor #wpadminbar #wp-admin-bar-new-content,
    .user-is-gestor #wpadminbar #wp-admin-bar-site-name,
    .user-is-gestor #wpadminbar #wp-admin-bar-updates,
    .user-is-gestor #wpadminbar #wp-admin-bar-wp-logo,
    .user-is-gestor #wpadminbar .ab-top-menu,
    .user-is-gestor #wpadminbar .ab-top-secondary {
        position: relative;
    }
    .user-is-gestor.wp-admin #wpadminbar #wp-admin-bar-site-name > .ab-item::before {
        display: none;
        visibility: hidden;
    }
    .user-is-gestor #wpadminbar ul#wp-admin-bar-root-default > li:first[role="group"] {
        display: none;
        visibility: hidden;
    }
    .user-is-gestor #wpadminbar .quicklinks .ab-empty-item,
    .user-is-gestor #wpadminbar .quicklinks > ul > li > a {
        height: 32px;
        line-height: 2.25 !important;
    }
    .user-is-gestor #wp-admin-bar-site-name > .ab-item,
    html.wp-toolbar .user-is-gestor #wp-admin-bar-site-name:not(:hover):not(:focus) > .ab-item:not(:hover):not(:focus) {
        width: 102px !important;
        background-size: 113px auto !important;
        line-height: 2.25 !important;
    }
    .user-is-gestor #wpadminbar #wp-admin-bar-top-secondary > .menupop > .ab-sub-wrapper {
        left: unset;
        right: 0;
    }
    .user-is-gestor #wp-admin-bar-colecao-instituicoes {
        display: block;
    }
    .user-is-gestor .menupop.with-avatar > .ab-item {
        font-size: 0 !important;
    }
    .user-is-gestor .menupop.with-avatar > .ab-item > .display-name {
        display: none;
        visibility: hidden;
    }
}
.user-is-gestor .subsubsub .count {
    display: none;
    visibility: hidden;
}

/* Esconde alguns filtros nas listas de atividades */
.user-is-gestor ul.subsubsub li.all,
.user-is-gestor ul.subsubsub li.draft .count {
    display: none;
}
.user-is-gestor #tainacan-admin-app .is-secondary-content,
.user-is-gestor #tainacan-admin-app.is-fullheight,
.user-is-gestor #tainacan-admin-app #collection-page-container {
    height: calc(100vh - 154px);
    background: transparent;
}
.user-is-gestor #tainacan-admin-app #collection-page-container {
    padding: 0px 0px 24px 0px;
}
.user-is-gestor #tainacan-admin-app #collection-page-container .tainacan-form > .columns .column {
    padding-left: 0px;
    padding-right: 0px;
}
@media screen and (min-width: 769px) {
    .user-is-gestor #tainacan-admin-app #collection-page-container .tainacan-form > .columns .column.main-column > .b-tabs .tab-content {
        padding-left: 0px;
        padding-right: 20px;
    }
}
.user-is-gestor #tainacan-admin-app .page-container.item-edition-container #tainacanTabsSwiper,
.user-is-gestor #tainacan-admin-app .page-container.item-creation-container #tainacanTabsSwiper {
    display: none;
    visibility: hidden;
}
.user-is-gestor #tainacan-admin-app .page-container.item-edition-container #tainacanTabsSwiper + .tab-content,
.user-is-gestor #tainacan-admin-app .page-container.item-creation-container #tainacanTabsSwiper + .tab-content {
    border: none;
}
.user-is-gestor #tainacan-admin-app .page-container.item-edition-container .sticky-container,
.user-is-gestor #tainacan-admin-app .page-container.item-creation-container .sticky-container {
    position: unset;
    overflow: visible;
}
.user-is-gestor #tainacan-admin-app .page-container.item-edition-container .sticky-container > hr,
.user-is-gestor #tainacan-admin-app .page-container.item-creation-container .sticky-container > hr {
    opacity: 0;
}
.user-is-gestor #tainacan-admin-app #collection-page-container > .tainacan-form {
    margin-bottom: 60px;
}
.user-is-gestor #tainacan-admin-app .tainacan-page-title {
    margin-top: 0;
    display: none;
    visibility: hidden;
}
.user-is-gestor #tainacan-admin-app .tainacan-page-title h1 {
    font-size: 23px;
    font-weight: 400;
    margin: 0;
    margin-right: 0px;
    padding: 9px 0 4px;
    line-height: 1.3;
}
.user-is-gestor #tainacan-admin-app .tainacan-form {
    width: unset;
}
.user-is-gestor #tainacan-admin-app .cne-tainacan-page-title-container {
    text-align: left;
    padding: 42px 1rem 68px 1rem;
}
.user-is-gestor #tainacan-admin-app .cne-tainacan-page-title-container h1 {
    font-size: var(--wp--preset--font-size--heading-1, 50px);
    font-weight: 600;
    line-height: 1.3;
    text-transform: uppercase;
    color: var(--tainacan-label-color);
}
.user-is-gestor #tainacan-admin-app .cne-tainacan-page-title-container .cne-tainacan-page-status-wrapper {
    float: right;
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 14px;
    margin: 1.25rem 1rem;
    font-weight: 500;
}
@media screen and (max-width: 1000px) {
    .user-is-gestor #tainacan-admin-app .cne-tainacan-page-title-container {
        text-align: center;
    }
    .user-is-gestor #tainacan-admin-app .cne-tainacan-page-title-container h1 {
        font-size: 42px;
    }
    .user-is-gestor #tainacan-admin-app .cne-tainacan-page-title-container .cne-tainacan-page-status-wrapper {
        float: none;
        justify-content: center;
    }
}
.user-is-gestor #tainacan-admin-app .cne-tainacan-page-title-container p {
    text-transform: uppercase;
    color: var(--tainacan-label-color);
    margin-top: 0.75rem;
}
.user-is-gestor #tainacan-admin-app .tainacan-page-title .breadcrumbs,
.user-is-gestor #tainacan-admin-app .tainacan-page-title hr,
.user-is-gestor #tainacan-admin-app #collection-page-container .sub-header,
.user-is-gestor #tainacan-admin-app #collection-page-container .back-link {
    display: none;
    visibility: hidden;
}
@media screen and (max-width: 769px) {
    .user-is-gestor #tainacan-admin-app .page-container.item-edition-container .tainacan-form > .columns,
    .user-is-gestor #tainacan-admin-app .page-container.item-creation-container .tainacan-form > .columns {
        margin-left: calc(2 * var(--tainacan-one-column) - 12px) !important;
        margin-right: calc(1 * var(--tainacan-one-column));
    }
    .user-is-gestor #tainacan-admin-app #collection-page-container .tainacan-form > .columns .column.is-5 {
        padding-left: 0.75rem;
    }
}
.user-is-gestor #tainacan-admin-app .page-container.item-edition-container .tainacan-form > .columns .column.main-column .metadata-section-metadata-list > .metadata-section-description-help-info,
.user-is-gestor #tainacan-admin-app .page-container.item-creation-container .tainacan-form > .columns .column.main-column .metadata-section-metadata-list > .metadata-section-description-help-info {
    column-span: all;
    text-transform: uppercase;
    margin-left: 0;    
}
.user-is-gestor #tainacan-admin-app .page-container.item-edition-container .metadata-section-header,
.user-is-gestor #tainacan-admin-app .page-container.item-creation-container .metadata-section-header {
    border-bottom: none;
    background: white;
    border-bottom: 1px solid #A3BFDC;
    position: sticky;
    top: 0px;
    z-index: 9999;
    margin-bottom: 0.5rem;
}
.user-is-gestor #tainacan-admin-app .section-counter {
    width: 28px;
    height: 28px;
    display: inline-block;
    background: var(--theme-palette-color-1);
    color: white;
    text-align: center;
    border-radius: 100em;
    font-size: 16px;
    font-weight: 700;
    line-height: 28px;
    margin-left: calc(-2 * var(--tainacan-one-column) + 4px);
}
.user-is-gestor #tainacan-admin-app .section-count-info {
    font-size: 14px;
    font-weight: 500;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    color: var(--tainacan-info-color);
    width: 90px;
}
.user-is-gestor #tainacan-admin-app .section-count-info span {
    color: var(--tainacan-secondary);
}
.user-is-gestor #tainacan-admin-app .section-count-info hr:first-of-type {
    margin-top: 0.5rem;
    height: 6px;
    border-radius: 8px;
    background: #D9DDE6 !important;
}
.user-is-gestor #tainacan-admin-app .section-count-info hr:last-of-type {
    margin-top: -20px;
    height: 12px;
    border-radius: 6px;
    background: var(--tainacan-secondary) !important;
}
@media screen and (min-width: 1000px) {
    .user-is-gestor #tainacan-admin-app .section-count-info {
        float: right;
    }
}

.user-is-gestor #tainacan-admin-app .page-container.item-edition-container .metadata-section-header .collapse-handle,
.user-is-gestor #tainacan-admin-app .page-container.item-creation-container .metadata-section-header .collapse-handle {
    background-color: var(--theme-palette-color-8);
    padding-right: 1rem;
}
.user-is-gestor #tainacan-admin-app .page-container.item-edition-container .metadata-section-header label,
.user-is-gestor #tainacan-admin-app .page-container.item-creation-container .metadata-section-header label {
    text-transform: uppercase;
    padding-right: 1rem;
    background-color: var(--theme-palette-color-8);
    font-size: 38px !important;
    font-weight: 700 !important;
}
@media screen and (max-width: 1000px) {
    .user-is-gestor #tainacan-admin-app .page-container.item-edition-container .metadata-section-header label,
    .user-is-gestor #tainacan-admin-app .page-container.item-creation-container .metadata-section-header label {
        font-size: var(--wp--preset--font-size--heading-4, 28px) !important;
    }
}
.user-is-gestor #tainacan-admin-app .page-container.item-edition-container .section-label label .icon,
.user-is-gestor #tainacan-admin-app .page-container.item-creation-container .section-label label .icon,
.user-is-gestor #tainacan-admin-app .page-container.item-edition-container .section-label label .has-text-gray,
.user-is-gestor #tainacan-admin-app .page-container.item-creation-container .section-label label .has-text-gray {
    display: none;
}
.user-is-gestor #tainacan-admin-app .page-container.item-edition-container > .tainacan-form > .columns,
.user-is-gestor #tainacan-admin-app .page-container.item-creation-container > .tainacan-form > .columns {
    flex-direction: column;
    margin-left: calc(2 * var(--tainacan-one-column));
}
.user-is-gestor #tainacan-admin-app .page-container.item-edition-container > .tainacan-form > .columns > .column,
.user-is-gestor #tainacan-admin-app .page-container.item-creation-container > .tainacan-form > .columns > .column {
    width: 100% !important;
}
.user-is-gestor #tainacan-admin-app .page-container.item-edition-container .tainacan-form > .columns .column.main-column .metadata-section-metadata-list > .field,
.user-is-gestor #tainacan-admin-app .page-container.item-creation-container .tainacan-form > .columns .column.main-column .metadata-section-metadata-list > .field {
    margin-left: 0px !important;
    padding: 10px 0px !important;
    break-inside: avoid;
}
.user-is-gestor #tainacan-admin-app .page-container.item-edition-container .section-box,
.user-is-gestor #tainacan-admin-app .page-container.item-creation-container .section-box {
    padding-left: 0;
    padding-right: 0;
}
.user-is-gestor #tainacan-admin-app .tainacan-finder-column .column-label {
    border-bottom: 1px solid var(--tainacan-gray2);
}
.user-is-gestor #tainacan-admin-app .tainacan-finder-columns-container,
.user-is-gestor #tainacan-admin-app .tainacan-relationship-results-container {
    background-color: #fff !important;
    border: 1px solid var(--tainacan-gray2) !important;
    border-radius: 0px 0px 8px 8px;
}
.user-is-gestor #tainacan-admin-app .tainacan-finder-columns-container:first-child {
    border: none !important;
}
.user-is-gestor #tainacan-admin-app .tainacan-finder-columns-container:first-child .tainacan-finder-column {
    border: none !important;
}
@media screen and (max-width: 768px) {
    .user-is-gestor #tainacan-admin-app .tainacan-finder-columns-container .tainacan-finder-column {
        min-width: 100% !important;
    }
}
/* Descrição dos metadados abaixo do metadado */
.user-is-gestor #tainacan-admin-app .page-container.item-edition-container [class*="tainacan-metadatum-component--"].field .collapse-handle + div,
.user-is-gestor #tainacan-admin-app .page-container.item-creation-container [class*="tainacan-metadatum-component--"].field .collapse-handle + div {
    display: grid;
    grid-template-columns: 100%;
}
.user-is-gestor #tainacan-admin-app .page-container.item-edition-container [class*="tainacan-metadatum-component--"].field .collapse-handle + div > .metadatum-description-help-info,
.user-is-gestor #tainacan-admin-app .page-container.item-creation-container [class*="tainacan-metadatum-component--"].field .collapse-handle + div > .metadatum-description-help-info {
    order: 2;
    padding: 0.125rem 1rem 0rem 0.125rem;
    margin-bottom: 0;
}

/* Composto */
.user-is-gestor #tainacan-admin-app .page-container.item-edition-container .tainacan-metadatum-component--tainacan-compound > .collapse-handle > .label, 
.user-is-gestor #tainacan-admin-app .page-container.item-creation-container .tainacan-metadatum-component--tainacan-compound > .collapse-handle > .label {
    text-transform: uppercase;
    color: var(--theme-palette-color-3);
}
.user-is-gestor #tainacan-admin-app .page-container.item-edition-container .tainacan-metadatum-component--tainacan-compound .child-metadata-inputs .multiple-inputs,
.user-is-gestor #tainacan-admin-app .page-container.item-creation-container .tainacan-metadatum-component--tainacan-compound .child-metadata-inputs .multiple-inputs {
    display: block;
}
@media screen and (min-width: 768px) {
    .user-is-gestor #tainacan-admin-app .page-container.item-edition-container .tainacan-metadatum-component--tainacan-compound,
    .user-is-gestor #tainacan-admin-app .page-container.item-creation-container .tainacan-metadatum-component--tainacan-compound {
        column-span: all;
        width: 100%;
    }
    .user-is-gestor #tainacan-admin-app .page-container.item-edition-container .tainacan-metadatum-component--tainacan-compound .child-metadata-inputs,
    .user-is-gestor #tainacan-admin-app .page-container.item-creation-container .tainacan-metadatum-component--tainacan-compound .child-metadata-inputs {
        padding-left: 0;
        border-left: none;
        margin-left: 0;
        padding-top: 0;
    }
    .user-is-gestor #tainacan-admin-app .page-container.item-edition-container .tainacan-metadatum-component--tainacan-compound .child-metadata-inputs .multiple-inputs,
    .user-is-gestor #tainacan-admin-app .page-container.item-creation-container .tainacan-metadatum-component--tainacan-compound .child-metadata-inputs .multiple-inputs {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 12px 1.5rem;
    }
    .user-is-gestor #tainacan-admin-app .page-container.item-edition-container .tainacan-metadatum-component--tainacan-compound .child-metadata-inputs .multiple-inputs > .field,
    .user-is-gestor #tainacan-admin-app .page-container.item-creation-container .tainacan-metadatum-component--tainacan-compound .child-metadata-inputs .multiple-inputs > .field {
        margin-left: 0 !important;
        padding: 0 !important;
        break-inside: avoid;
    }
}
@media screen and (min-width: 1000px) {
    .user-is-gestor #tainacan-admin-app .page-container.item-edition-container .tainacan-metadatum-component--tainacan-compound .child-metadata-inputs .multiple-inputs,
    .user-is-gestor #tainacan-admin-app .page-container.item-creation-container .tainacan-metadatum-component--tainacan-compound .child-metadata-inputs .multiple-inputs {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 12px 1.5rem;
    }
    .user-is-gestor #tainacan-admin-app .tainacan-finder-column.has-only-one-column ul {
        -moz-column-count: 3;
        -webkit-column-count: 3;
        column-count: 3;
    }
}

/* Coluna de radio buttons das regiões e modelo da instituição */
.user-is-gestor #tainacan-admin-app .tainacan-metadatum-id--29927 .tainacan-finder-column.has-only-one-column ul,
.user-is-gestor #tainacan-admin-app .tainacan-metadatum-id--85982 .tainacan-finder-column.has-only-one-column ul,
.user-is-gestor #tainacan-admin-app .tainacan-metadatum-id--38402 .tainacan-finder-column.has-only-one-column ul,
.user-is-gestor #tainacan-admin-app .tainacan-metadatum-id--109029 .tainacan-finder-column.has-only-one-column ul {
    column-count: unset;
    display: flex;
    flex-wrap: wrap;
}
/* Coluna de radio buttons dos estados */
.user-is-gestor #tainacan-admin-app .tainacan-metadatum-id--38396 .tainacan-finder-column.has-only-one-column ul,
.user-is-gestor #tainacan-admin-app .tainacan-metadatum-id--109034 .tainacan-finder-column.has-only-one-column ul {
    column-count: 9;
}
/* Coluna de radio buttons dos tipos de atividades */
.user-is-gestor #tainacan-admin-app .tainacan-metadatum-id--85989 .tainacan-finder-column.has-only-one-column ul,
.user-is-gestor #tainacan-admin-app .tainacan-metadatum-id--38411 .tainacan-finder-column.has-only-one-column ul {
    column-count: 5;
}
@media screen and (max-width: 1080px) {
    .user-is-gestor #tainacan-admin-app .tainacan-metadatum-id--38396 .tainacan-finder-column.has-only-one-column ul,
    .user-is-gestor #tainacan-admin-app .tainacan-metadatum-id--109034 .tainacan-finder-column.has-only-one-column ul {
        column-count: 8;
    }
    .user-is-gestor #tainacan-admin-app .tainacan-metadatum-id--85989 .tainacan-finder-column.has-only-one-column ul,
    .user-is-gestor #tainacan-admin-app .tainacan-metadatum-id--38411 .tainacan-finder-column.has-only-one-column ul {
        column-count: 4;
    }
}
@media screen and (max-width: 640px) {
    .user-is-gestor #tainacan-admin-app .tainacan-metadatum-id--38396 .tainacan-finder-column.has-only-one-column ul,
    .user-is-gestor #tainacan-admin-app .tainacan-metadatum-id--109034 .tainacan-finder-column.has-only-one-column ul {
        column-count: 3;
    }
    .user-is-gestor #tainacan-admin-app .tainacan-metadatum-id--85989 .tainacan-finder-column.has-only-one-column ul,
    .user-is-gestor #tainacan-admin-app .tainacan-metadatum-id--38411 .tainacan-finder-column.has-only-one-column ul {
        column-count: 1;
        overflow: visible;
        max-height: unset;
    }
}

/* Metadado das cidades não tem hierarquia então não precisa do limite das hierarquias */
.user-is-gestor #tainacan-admin-app .tainacan-metadatum-id--109040 .tainacan-finder-column,
.user-is-gestor #tainacan-admin-app .tainacan-metadatum-id--38390 .tainacan-finder-column {
    max-width: 100%;
}
@media screen and (min-width: 1000px) {
    .user-is-gestor #tainacan-admin-app .tainacan-metadatum-id--109040 .tainacan-modal-checkbox-list-body,
    .user-is-gestor #tainacan-admin-app .tainacan-metadatum-id--38390 .tainacan-modal-checkbox-list-body {
        column-count: 3;
    }
}

/* Metadado de datas e horas nas atividades, além dos de Bairro e Número nos endereços */
@media screen and (min-width: 769px) {
    .user-is-gestor #tainacan-admin-app .tainacan-metadatum-id--38424,
    .user-is-gestor #tainacan-admin-app .tainacan-metadatum-id--38419,
    .user-is-gestor #tainacan-admin-app .tainacan-metadatum-id--38421,
    .user-is-gestor #tainacan-admin-app .tainacan-metadatum-id--38416,
    .user-is-gestor #tainacan-admin-app .tainacan-metadatum-id--38386,
    .user-is-gestor #tainacan-admin-app .tainacan-metadatum-id--109045,
    .user-is-gestor #tainacan-admin-app .tainacan-metadatum-id--38382,
    .user-is-gestor #tainacan-admin-app .tainacan-metadatum-id--109049 {
        width: 50%;
        display: inline-block;
    }
    .user-is-gestor #tainacan-admin-app .page-container.item-creation-container .tainacan-form > .columns .column.main-column .field.tainacan-metadatum-id--38424,
    .user-is-gestor #tainacan-admin-app .page-container.item-creation-container .tainacan-form > .columns .column.main-column .field.tainacan-metadatum-id--38421,
    .user-is-gestor #tainacan-admin-app .page-container.item-creation-container .tainacan-form > .columns .column.main-column .field.tainacan-metadatum-id--38386,
    .user-is-gestor #tainacan-admin-app .page-container.item-creation-container .tainacan-form > .columns .column.main-column .field.tainacan-metadatum-id--109045,
    .user-is-gestor #tainacan-admin-app .page-container.item-edition-container .tainacan-form > .columns .column.main-column .field.tainacan-metadatum-id--38424,
    .user-is-gestor #tainacan-admin-app .page-container.item-edition-container .tainacan-form > .columns .column.main-column .field.tainacan-metadatum-id--38421,
    .user-is-gestor #tainacan-admin-app .page-container.item-edition-container .tainacan-form > .columns .column.main-column .field.tainacan-metadatum-id--38386,
    .user-is-gestor #tainacan-admin-app .page-container.item-edition-container .tainacan-form > .columns .column.main-column .field.tainacan-metadatum-id--109045 {
        padding-right: 0.75rem !important;
    }
    .user-is-gestor #tainacan-admin-app .page-container.item-creation-container .tainacan-form > .columns .column.main-column .field.tainacan-metadatum-id--38419,
    .user-is-gestor #tainacan-admin-app .page-container.item-creation-container .tainacan-form > .columns .column.main-column .field.tainacan-metadatum-id--38416,
    .user-is-gestor #tainacan-admin-app .page-container.item-creation-container .tainacan-form > .columns .column.main-column .field.tainacan-metadatum-id--38382,
    .user-is-gestor #tainacan-admin-app .page-container.item-creation-container .tainacan-form > .columns .column.main-column .field.tainacan-metadatum-id--109049,
    .user-is-gestor #tainacan-admin-app .page-container.item-edition-container .tainacan-form > .columns .column.main-column .field.tainacan-metadatum-id--38419,
    .user-is-gestor #tainacan-admin-app .page-container.item-edition-container .tainacan-form > .columns .column.main-column .field.tainacan-metadatum-id--38416
    .user-is-gestor #tainacan-admin-app .page-container.item-edition-container .tainacan-form > .columns .column.main-column .field.tainacan-metadatum-id--38382,
    .user-is-gestor #tainacan-admin-app .page-container.item-edition-container .tainacan-form > .columns .column.main-column .field.tainacan-metadatum-id--109049 {
        padding-left: 0.75rem !important;
    }
}

.user-is-gestor #tainacan-admin-app .child-metadata-inputs {
    padding-left: 16px;
}
@media screen and (max-width: 768px) {
    .user-is-gestor #tainacan-admin-app .child-metadata-inputs {
        padding-left: 24px;
    }
    .user-is-gestor #tainacan-admin-app .child-metadata-inputs .field .collapse-handle {
        margin-left: 0 !important;
    }
}

.user-is-gestor .tainacan-checkbox-search-section + .tainacan-checkbox-list-container {
    border-color: var(--tainacan-input-border-color);
}

/* Estiliza botão de taxonomias no input de tax */
.user-is-gestor #tainacan-admin-app .tainacan-checkbox-search-section .field.has-addons > p.control > button {
    border-top-left-radius: 6px !important;
    border-bottom-left-radius: 6px !important;
}
.user-is-gestor #tainacan-admin-app .tainacan-checkbox-search-section .field.has-addons > p.control + .control > input {
    border-top-left-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
}

/* Estiliza os botões de input numérico */
.user-is-gestor #tainacan-admin-app .tainacan-metadatum-component--tainacan-numeric .b-numberinput .control > input {
    border-top-right-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
}
.user-is-gestor #tainacan-admin-app .tainacan-metadatum-component--tainacan-numeric .b-numberinput .plus > button {
    border-top-right-radius: 6px !important;
    border-bottom-right-radius: 6px !important;
}

/* Esconde título dos anexos */
.user-is-gestor #tainacan-admin-app .file-item figcaption {
    display: none;
}
.user-is-gestor #tainacan-admin-app .pagination-area {
    margin: 0;
}

/* Cores e dimensões dos inputs em geral */
.user-is-gestor #tainacan-admin-app input.input,
.user-is-gestor #tainacan-admin-app .input,
.user-is-gestor #tainacan-admin-app input[type="color"].input,
.user-is-gestor #tainacan-admin-app input[type="date"].input,
.user-is-gestor #tainacan-admin-app input[type="datetime-local"].input,
.user-is-gestor #tainacan-admin-app input[type="datetime"].input,
.user-is-gestor #tainacan-admin-app input[type="email"].input,
.user-is-gestor #tainacan-admin-app input[type="number"].input,
.user-is-gestor #tainacan-admin-app input[type="month"].input,
.user-is-gestor #tainacan-admin-app input[type="password"].input,
.user-is-gestor #tainacan-admin-app input[type="search"].input,
.user-is-gestor #tainacan-admin-app input[type="tel"].input,
.user-is-gestor #tainacan-admin-app input[type="text"].input,
.user-is-gestor #tainacan-admin-app input[type="time"].input,
.user-is-gestor #tainacan-admin-app input[type="url"].input,
.user-is-gestor #tainacan-admin-app input[type="week"].input,
.user-is-gestor #tainacan-admin-app .taginput .taginput-container,
.user-is-gestor #tainacan-admin-app .select select,
.user-is-gestor #tainacan-admin-app select {
    min-height: 48px;
}
.user-is-gestor #tainacan-admin-app input.input:hover,
.user-is-gestor #tainacan-admin-app .input:hover,
.user-is-gestor #tainacan-admin-app textarea.textarea:hover,
.user-is-gestor #tainacan-admin-app .textarea:hover,
.user-is-gestor #tainacan-admin-app input[type="color"].input:hover,
.user-is-gestor #tainacan-admin-app input[type="date"].input:hover,
.user-is-gestor #tainacan-admin-app input[type="datetime-local"].input:hover,
.user-is-gestor #tainacan-admin-app input[type="datetime"].input:hover,
.user-is-gestor #tainacan-admin-app input[type="email"].input:hover,
.user-is-gestor #tainacan-admin-app input[type="number"].input:hover,
.user-is-gestor #tainacan-admin-app input[type="month"].input:hover,
.user-is-gestor #tainacan-admin-app input[type="password"].input:hover,
.user-is-gestor #tainacan-admin-app input[type="search"].input:hover,
.user-is-gestor #tainacan-admin-app input[type="tel"].input:hover,
.user-is-gestor #tainacan-admin-app input[type="text"].input:hover,
.user-is-gestor #tainacan-admin-app input[type="time"].input:hover,
.user-is-gestor #tainacan-admin-app input[type="url"].input:hover,
.user-is-gestor #tainacan-admin-app input[type="week"].input:hover {
    border-color: var(--theme-palette-color-12);
}
.user-is-gestor #tainacan-admin-app .field:has(.help.is-danger) {
    --tainacan-input-border-color: var(--tainacan-red2);
}
.user-is-gestor #tainacan-admin-app .page-container.item-edition-container > .tainacan-form hr,
.user-is-gestor #tainacan-admin-app .page-container.item-creation-container > .tainacan-form hr {
    background: var(--tainacan-gray2);
}
.user-is-gestor #tainacan-admin-app .page-container.item-edition-container .footer,
.user-is-gestor #tainacan-admin-app .page-container.item-creation-container .footer {
    right: 0;
    left: 0;
    width: 100%;
    max-width: var(--cne-max-admin-container, 1170px);
    margin: 0 auto;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    box-shadow: none;
    height: 80px;
    background: #e6e8ee;
}
@media screen and (max-width: 768px) {
    .user-is-gestor #tainacan-admin-app .page-container.item-edition-container .footer,
    .user-is-gestor #tainacan-admin-app .page-container.item-creation-container .footer {
        min-height: 110px;
        height: auto;
    }
    .user-is-gestor #tainacan-admin-app .page-container.item-edition-container .footer .update-info-section,
    .user-is-gestor #tainacan-admin-app .page-container.item-creation-container .footer .update-info-section,
    .user-is-gestor #tainacan-admin-app .page-container.item-edition-container .footer .update-info-section .footer-message,
    .user-is-gestor #tainacan-admin-app .page-container.item-creation-container .footer .update-info-section .footer-message {
        flex-wrap: wrap !important;
        gap: 2px;
        font-size: 0.875rem !important;
    }
    .user-is-gestor #tainacan-admin-app .page-container.item-edition-container .footer .update-info-section .footer-message > *,
    .user-is-gestor #tainacan-admin-app .page-container.item-creation-container .footer .update-info-section .footer-message > * {
        margin-left: 0;
    }
}
.user-is-gestor #tainacan-admin-app .page-container.item-edition-container .footer::before,
.user-is-gestor #tainacan-admin-app .page-container.item-creation-container .footer::before {
    content: '';
    background: #e6e8ee;
    width: 100vw;
    height: 100%;
    display: block;
    position: absolute;
    left: calc(-1 * (100vw - 100%) / 2);
    right: calc(-1 * (100vw - 100%) / 2);
    z-index: -1;
}

.user-is-gestor #tainacan-admin-app .page-container.item-edition-container .footer .footer-message,
.user-is-gestor #tainacan-admin-app .page-container.item-creation-container .footer .footer-message {
    font-weight: bold;
    font-size: 1rem;
    color: var(--tainacan-label-color);
}
.user-is-gestor #tainacan-admin-app .page-container.item-edition-container .footer .button.is-outlined,
.user-is-gestor #tainacan-admin-app .page-container.item-creation-container .footer .button.is-outlined {
    display: none;
    visibility: hidden;
}
.user-is-gestor #tainacan-admin-app .page-container.item-edition-container .b-radio.radio input[type="radio"] + .check::before,
.user-is-gestor #tainacan-admin-app .page-container.item-creation-container .b-radio.radio input[type="radio"] + .check::before {
    background-color: var(--tainacan-secondary) !important;
    margin-left: calc(-1.125em * 0.5);
    margin-bottom: calc(-1.125em * 0.5);
    width: 1.125em;
    height: 1.125em;
}
.user-is-gestor #tainacan-admin-app .page-container.item-edition-container .b-radio.radio input[type="radio"] + .check,
.user-is-gestor #tainacan-admin-app .page-container.item-creation-container .b-radio.radio input[type="radio"] + .check {
    width: 1.125em;
    height: 1.125em;
}
.user-is-gestor #tainacan-admin-app .page-container.item-edition-container .b-radio.radio input[type="radio"]:hover + .check,
.user-is-gestor #tainacan-admin-app .page-container.item-creation-container .b-radio.radio input[type="radio"]:hover + .check {
    border-color: var(--tainacan-secondary) !important;
}
.user-is-gestor #tainacan-admin-app .page-container.item-edition-container .b-radio.radio input[type="radio"]:not(:checked) + .check,
.user-is-gestor #tainacan-admin-app .page-container.item-creation-container .b-radio.radio input[type="radio"]:not(:checked) + .check {
    border-color: var(--tainacan-input-border-color) !important;
}
.user-is-gestor #tainacan-admin-app .page-container.item-edition-container .b-checkbox.checkbox input[type="checkbox"]:checked + .check,
.user-is-gestor #tainacan-admin-app .page-container.item-creation-container .b-checkbox.checkbox input[type="checkbox"]:checked + .check {
    background: var(--tainacan-secondary) url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1 1'%3E%3Cpath style='fill:rgb(255,255,255)' d='M 0.04038059,0.6267767 0.14644661,0.52071068 0.42928932,0.80355339 0.3232233,0.90961941 z M 0.21715729,0.80355339 0.85355339,0.16715729 0.95961941,0.2732233 0.3232233,0.90961941 z'%3E%3C/path%3E%3C/svg%3E") no-repeat center center !important;
    border-color: var(--tainacan-secondary) !important;
    background-size: 0.75em 0.75em !important;
    background-position: center !important;
}
.user-is-gestor #tainacan-admin-app .page-container.item-edition-container .b-checkbox.checkbox input[type="checkbox"] + .check,
.user-is-gestor #tainacan-admin-app .page-container.item-creation-container .b-checkbox.checkbox input[type="checkbox"] + .check {
    border-radius: 5px;
    width: 1.125em;
    height: 1.125em;
}
.user-is-gestor #tainacan-admin-app .page-container.item-edition-container .b-checkbox.checkbox input[type="checkbox"]:not([disabled="disabled"]):not(:checked) + .check,
.user-is-gestor #tainacan-admin-app .page-container.item-creation-container .b-checkbox.checkbox input[type="checkbox"]:not([disabled="disabled"]):not(:checked) + .check {
    border-color: var(--tainacan-input-border-color);
}
@media screen and (min-width: 1000px) {
    .user-is-gestor #tainacan-admin-app .page-container.item-edition-container .footer .button:not(.is-small):not(.is-medium):not(.is-large),
    .user-is-gestor #tainacan-admin-app .page-container.item-creation-container .footer .button:not(.is-small):not(.is-medium):not(.is-large) {
        height: 2.75em !important;
        padding-left: 32px !important;
        padding-right: 32px !important;
    }
}
.user-is-gestor #tainacan-admin-app .page-container.item-edition-container .tainacan-leaflet-map-container .leaflet-container .geocoordinate-input-panel .button:not(.is-small):not(.is-medium):not(.is-large),
.user-is-gestor #tainacan-admin-app .page-container.item-creation-container .tainacan-leaflet-map-container .leaflet-container .geocoordinate-input-panel .button:not(.is-small):not(.is-medium):not(.is-large) {
    min-height: 3rem;
    border-radius: 8px !important;
}
.user-is-gestor #tainacan-admin-app .page-container.item-edition-container .tainacan-metadatum-component--tainacan-url .control+.add-new-term,
.user-is-gestor #tainacan-admin-app .page-container.item-creation-container .tainacan-metadatum-component--tainacan-url .control+.add-new-term,
.user-is-gestor #tainacan-admin-app .page-container.item-edition-container .tainacan-metadatum-component--tainacan-relationship .add-link,
.user-is-gestor #tainacan-admin-app .page-container.item-creation-container .tainacan-metadatum-component--tainacan-relationship .add-link,
.user-is-gestor #tainacan-admin-app .page-container.item-edition-container .tainacan-metadatum-component--tainacan-taxonomy .add-new-term,
.user-is-gestor #tainacan-admin-app .page-container.item-creation-container .tainacan-metadatum-component--tainacan-taxonomy .add-new-term {
    display: none;
    visibility: hidden;
}

/* Esconde o botão de rascunho nas opções de status disponíveis */
.user-is-gestor #tainacan-admin-app .tainacan-modal .status-radios .b-radio:has(input[value="draft"]),
.user-is-gestor #tainacan-admin-app .tainacan-modal .status-radios .b-radio input[value="draft"],
.user-is-gestor #tainacan-admin-app .tainacan-modal .status-radios .b-radio input[value="draft"]+.check,
.user-is-gestor #tainacan-admin-app .tainacan-modal .status-radios .b-radio input[value="draft"]+.control-label {
    display: none;
    visibility: hidden;
}

/* Os ícones nas tabelas do WordPress só são adicionados para os gestores, já que afetam muitas páginas */
body.user-is-gestor:not(.block-editor-page):not(.wp-customizer):not(.tainacan-admin-page) table tr .row-actions {
    font-size: 16px;
    position: static;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}
body.user-is-gestor:not(.block-editor-page):not(.wp-customizer):not(.tainacan-admin-page) table tr .row-actions a,
body.user-is-gestor:not(.block-editor-page):not(.wp-customizer):not(.tainacan-admin-page) table tr .row-actions .button-link  {
    color: #838383;
    line-height: 2em;
}
body.user-is-gestor:not(.block-editor-page):not(.wp-customizer):not(.tainacan-admin-page) table tr .row-actions .edit,
body.user-is-gestor:not(.block-editor-page):not(.wp-customizer):not(.tainacan-admin-page) table tr .row-actions .trash,
body.user-is-gestor:not(.block-editor-page):not(.wp-customizer):not(.tainacan-admin-page) table tr .row-actions .view,
body.user-is-gestor:not(.block-editor-page):not(.wp-customizer):not(.tainacan-admin-page) table tr .row-actions .inline {
    position: relative;
    padding-left: 1.25em;
}
body.user-is-gestor:not(.block-editor-page):not(.wp-customizer):not(.tainacan-admin-page) table tr .row-actions .edit::before,
body.user-is-gestor:not(.block-editor-page):not(.wp-customizer):not(.tainacan-admin-page) table tr .row-actions .trash::before,
body.user-is-gestor:not(.block-editor-page):not(.wp-customizer):not(.tainacan-admin-page) table tr .row-actions .view::before,
body.user-is-gestor:not(.block-editor-page):not(.wp-customizer):not(.tainacan-admin-page) table tr .row-actions .inline::before {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    content: '';
    width: 16px;
    height: 26px;
    display: block;
    position: absolute;
    top: 2px;
    left: 0;
}
body.user-is-gestor:not(.block-editor-page):not(.wp-customizer):not(.tainacan-admin-page) table tr .row-actions .edit::before {
    background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.16504 13.6292H14.0001' stroke='%23BABABA' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M8.52001 2.52986C9.0371 1.91186 9.96666 1.82124 10.5975 2.32782C10.6324 2.35531 11.753 3.22586 11.753 3.22586C12.446 3.64479 12.6613 4.5354 12.2329 5.21506C12.2102 5.25146 5.87463 13.1763 5.87463 13.1763C5.66385 13.4393 5.34389 13.5945 5.00194 13.5982L2.57569 13.6287L2.02902 11.3149C1.95244 10.9895 2.02902 10.6478 2.2398 10.3849L8.52001 2.52986Z' stroke='%23BABABA' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M7.34766 4L10.9825 6.79142' stroke='%23BABABA' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
}
body.user-is-gestor:not(.block-editor-page):not(.wp-customizer):not(.tainacan-admin-page) table tr .row-actions .edit:hover a {
    color: #011546;
}
body.user-is-gestor:not(.block-editor-page):not(.wp-customizer):not(.tainacan-admin-page) table tr .row-actions .edit:hover a::before {
    background: #85a1cc54;
    content: '';
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: -2px;
    left: -2px;
    border-radius: 8px;
    padding: 2px;
}
body.user-is-gestor:not(.block-editor-page):not(.wp-customizer):not(.tainacan-admin-page) table tr .row-actions .trash::before {
    background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2 4H3.33333H14' stroke='%23BABABA' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M5.33301 4.00065V2.66732C5.33301 2.3137 5.47348 1.97456 5.72353 1.72451C5.97358 1.47446 6.31272 1.33398 6.66634 1.33398H9.33301C9.68663 1.33398 10.0258 1.47446 10.2758 1.72451C10.5259 1.97456 10.6663 2.3137 10.6663 2.66732V4.00065M12.6663 4.00065V13.334C12.6663 13.6876 12.5259 14.0267 12.2758 14.2768C12.0258 14.5268 11.6866 14.6673 11.333 14.6673H4.66634C4.31272 14.6673 3.97358 14.5268 3.72353 14.2768C3.47348 14.0267 3.33301 13.6876 3.33301 13.334V4.00065H12.6663Z' stroke='%23BABABA' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M9.33301 7.33398V11.334' stroke='%23BABABA' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M6.66699 7.33398V11.334' stroke='%23BABABA' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
}
body.user-is-gestor:not(.block-editor-page):not(.wp-customizer):not(.tainacan-admin-page) table tr .row-actions .trash:hover a {
    color: #970E05;
}
body.user-is-gestor:not(.block-editor-page):not(.wp-customizer):not(.tainacan-admin-page) table tr .row-actions .trash:hover a::before {
    background: #e5bebe54;
    content: '';
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: -2px;
    left: -2px;
    border-radius: 8px;
    padding: 2px;
}
body.user-is-gestor:not(.block-editor-page):not(.wp-customizer):not(.tainacan-admin-page) table tr .row-actions .view::before {
    background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_641_3519)'%3E%3Cpath d='M0.666992 7.99935C0.666992 7.99935 3.33366 2.66602 8.00033 2.66602C12.667 2.66602 15.3337 7.99935 15.3337 7.99935C15.3337 7.99935 12.667 13.3327 8.00033 13.3327C3.33366 13.3327 0.666992 7.99935 0.666992 7.99935Z' stroke='%23BABABA' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M8 10C9.10457 10 10 9.10457 10 8C10 6.89543 9.10457 6 8 6C6.89543 6 6 6.89543 6 8C6 9.10457 6.89543 10 8 10Z' stroke='%23BABABA' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_641_3519'%3E%3Crect width='16' height='16' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
}
body.user-is-gestor:not(.block-editor-page):not(.wp-customizer):not(.tainacan-admin-page) table tr .row-actions .view:hover a {
    color: #218963;
}
body.user-is-gestor:not(.block-editor-page):not(.wp-customizer):not(.tainacan-admin-page) table tr .row-actions .view:hover a::before {
    background: #e2f5c654;
    content: '';
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: -2px;
    left: -2px;
    border-radius: 8px;
    padding: 2px;
}
body.user-is-gestor:not(.block-editor-page):not(.wp-customizer):not(.tainacan-admin-page) table tr .row-actions .inline::before {
    background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.16504 13.6292H14.0001' stroke='%23BABABA' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M8.52001 2.52986C9.0371 1.91186 9.96666 1.82124 10.5975 2.32782C10.6324 2.35531 11.753 3.22586 11.753 3.22586C12.446 3.64479 12.6613 4.5354 12.2329 5.21506C12.2102 5.25146 5.87463 13.1763 5.87463 13.1763C5.66385 13.4393 5.34389 13.5945 5.00194 13.5982L2.57569 13.6287L2.02902 11.3149C1.95244 10.9895 2.02902 10.6478 2.2398 10.3849L8.52001 2.52986Z' stroke='%23BABABA' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M7.34766 4L10.9825 6.79142' stroke='%23BABABA' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
}