.tainacan-cne-grid-container {
    font-size: 16px;
    padding: 4px 4px 16px 4px;
    display: -ms-grid;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 28px;
    justify-content: flex-start;
    margin-top: 0px;
    list-style: none;
    animation-name: appear;
    animation-duration: 0.5s;
}
@media screen and (max-width: 1000px) {
    .tainacan-cne-grid-container {
        grid-template-columns: 1fr 1fr;
    }
}
@media screen and (max-width: 680px) {
    .tainacan-cne-grid-container {
        grid-template-columns: 1fr;
    }
    .tainacan-cne-grid-container .tainacan-cne-grid-item--2 .cne-grid-item-title-and-thumbnail h4 {
        min-height: unset;
    }
}
.tainacan-cne-grid-container .tainacan-cne-grid-item {
    margin: 0px;
    display: block;
    text-decoration: none !important;
    width: 100%;
    background-color: var(--theme-palette-color-6);
    border-radius: 8px;
    align-self: flex-start;
}

.tainacan-cne-grid-container > section.section {
    grid-column: 1/-1;
}

.tainacan-cne-grid-container .tainacan-cne-grid-item.skeleton {
    width: 100%;
}

.tainacan-cne-grid-container .tainacan-cne-grid-item .cne-grid-item-thumbnail {
    background-size: cover !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    margin: 0;
    display: block;
    position: relative;
    overflow: hidden;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
}
.tainacan-cne-grid-container .tainacan-cne-grid-item .cne-grid-item-thumbnail:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: calc(100% * (282 / 320));
}
@media screen and (max-width: 680px) {
    .tainacan-cne-grid-container .tainacan-cne-grid-item .cne-grid-metadata {
        grid-template-columns: 14px 30px 60px 1fr 1fr !important;
        grid-template-rows: 48px 42px 45px 48px 20px !important;
    }
    .tainacan-cne-grid-container .tainacan-cne-grid-item .cne-grid-item-thumbnail:before {
        padding-top: calc(100% * (162 / 270));
    }
    .tainacan-cne-grid-container .tainacan-cne-grid-item .cne-grid-item-date {
        width: 72px !important;
        height: 90px !important;
        padding: 45px 16px 16px 10px !important;
        margin-right: 16px !important;
        margin-bottom: -90px !important;
    }
    .tainacan-cne-grid-container .tainacan-cne-grid-item .cne-grid-item-date .metadata-slug-data-de-inicio-da-atividade::after {
        font-size: 14px !important;
    }
    .tainacan-cne-grid-container .tainacan-cne-grid-item .cne-grid-item-date .metadata-slug-data-de-inicio-da-atividade p,
    .tainacan-cne-grid-container .tainacan-cne-grid-item .cne-grid-item-date .metadata-slug-data-de-fim-da-atividade p {
        font-size: 14px !important;
    }
    .tainacan-cne-grid-container .tainacan-cne-grid-item--past .cne-grid-item-past-tag {
        top: 16px !important;
        left: 16px !important;
    }
    .tainacan-cne-grid-container .tainacan-cne-grid-item .cne-grid-metadata .metadata-slug-tipo-da-atividade p {
        font-size: 20px !important;
        font-weight: bold;
    }
    .tainacan-cne-grid-container .tainacan-cne-grid-item .cne-grid-metadata .metadata-slug-horario-de-inicio-da-atividade p,
    .tainacan-cne-grid-container .tainacan-cne-grid-item .cne-grid-metadata .metadata-slug-horario-de-fim-da-atividade p,
    .tainacan-cne-grid-container .tainacan-cne-grid-item .cne-grid-metadata .metadata-slug-horario-de-inicio-da-atividade + .metadata-slug-horario-de-fim-da-atividade::before {
        font-size: 16px !important;
    }
    .tainacan-cne-grid-container .tainacan-cne-grid-item .cne-grid-metadata .metadata-slug-horario-de-inicio-da-atividade::before {
        width: 20px !important;
        height: 20px !important;
        top: 2px !important;
        background-size: contain !important;
        background-repeat: no-repeat !important;
    }
    .tainacan-cne-grid-container .tainacan-cne-grid-item .cne-grid-metadata .metadata-slug-instituicao-2 p,
    .tainacan-cne-grid-container .tainacan-cne-grid-item .cne-grid-metadata .metadata-type-core_title p {
        font-size: 14px !important;
    }
}
.tainacan-cne-grid-container--3.tainacan-cne-grid-container .tainacan-cne-grid-item .cne-grid-item-thumbnail:before {
    padding-top: calc(100% * (400 / 280));
}
.tainacan-cne-grid-container .tainacan-cne-grid-item .cne-grid-item-thumbnail img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 0px;
    object-fit: cover;
    object-position: center;
    width: 100% !important;
    height: 100% !important;
    transition: height 0.2s ease, width 0.2s ease;
}
.tainacan-cne-grid-container .tainacan-cne-grid-item .cne-grid-item-thumbnail img:not([src]) {
    text-align: center;
    font-size: 1rem;
    font-style: italic;
    color: #555;
    background: var(--paletteColor5);
    padding: 30% 2rem;
}
.tainacan-cne-grid-container .tainacan-cne-grid-item .cne-grid-item-thumbnail .skeleton {
    position: absolute;
    z-index: -1;
    background-color: #e0e0e0;
    bottom: 0;
}
.tainacan-cne-grid-container .tainacan-cne-grid-item:hover .cne-grid-item-thumbnail {
    background-color: #dbdbdb;
}
.tainacan-cne-grid-container .tainacan-cne-grid-item:hover .cne-grid-item-thumbnail img {
    width: 105% !important;
    height: 105% !important;
}
.tainacan-cne-grid-container .tainacan-cne-grid-item .cne-grid-metadata {
    padding: 24px;
    display: grid;
    gap: 0 16px;
    grid-template-areas:
        'tipo        tipo        tipo        tipo        tipo       ' 
        'instituicao instituicao instituicao instituicao instituicao' 
        'icone        hora        hora       .            .          ' 
        'nome        nome        nome        nome        nome       '
        'estado      estado      cidade      cidade      cidade     '; 
    grid-template-rows: 54px 48px 48px 48px 20px;
    grid-template-columns: 14px 60px 60px 1fr 1fr;
}
.tainacan-cne-grid-container .tainacan-cne-grid-item a,
.tainacan-cne-grid-container .tainacan-cne-grid-item a:hover,
.tainacan-cne-grid-container .tainacan-cne-grid-item a:focus,
.tainacan-cne-grid-container .tainacan-cne-grid-item a:focus-within {
    color: inherit;
    text-decoration: none;
}
.tainacan-cne-grid-container > .tainacan-cne-grid-item > a {
    cursor: pointer;
    display: block;
}
.tainacan-cne-grid-container > .tainacan-cne-grid-item > a:hover,
.tainacan-cne-grid-container > .tainacan-cne-grid-item > a:focus,
.tainacan-cne-grid-container > .tainacan-cne-grid-item > a:focus-within {
    box-shadow: 0 0 6px -4px var(--theme-palette-color-3);
    border-radius: 8px;
}
.tainacan-cne-grid-container > .tainacan-cne-grid-item > a:focus-visible {
    box-shadow: 0 0 4px 0px var(--theme-palette-color-1);
    border-radius: 8px;
}


/* Data da Atividade */
.tainacan-cne-grid-container .tainacan-cne-grid-item .cne-grid-item-date {
    display: flex;
    background-color: var(--theme-palette-color-8, #fff);
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    width: 92px;
    height: 122px;
    padding: 60px 16px 16px 10px;
    margin-right: 32px;
    margin-bottom: -122px;
    margin-left: auto;
    flex-wrap: wrap;
    z-index: 1;
    position: relative;
}
.tainacan-cne-grid-container .tainacan-cne-grid-item .cne-grid-item-date .metadata-slug-data-de-inicio-da-atividade,
.tainacan-cne-grid-container .tainacan-cne-grid-item .cne-grid-item-date .metadata-slug-data-de-fim-da-atividade {
    display: inline-block;
    position: relative;
}
.tainacan-cne-grid-container .tainacan-cne-grid-item .cne-grid-item-date .metadata-slug-data-de-inicio-da-atividade::before {
    content: 'Data';
    display: inline-block;
    font-weight: normal;
    font-size: 14px;
    color: var(--theme-palette-color-1);
    position: absolute;
    top: -2em;
    left: 0;
}
.tainacan-cne-grid-container .tainacan-cne-grid-item .cne-grid-item-date .metadata-slug-data-de-inicio-da-atividade::after {
    content: ' a ';
    display: inline-block;
    font-weight: bold;
    font-size: 20px;
    color: var(--theme-palette-color-1);
    position: absolute;
    bottom: 0;
    right: -0.813em;
    line-height: 1.3;
}
.tainacan-cne-grid-container .tainacan-cne-grid-item .cne-grid-item-date .metadata-slug-data-de-inicio-da-atividade p,
.tainacan-cne-grid-container .tainacan-cne-grid-item .cne-grid-item-date .metadata-slug-data-de-fim-da-atividade p {
    font-weight: bold;
    font-size: 20px;
    line-height: 1.3;
    color: var(--theme-palette-color-1);
    margin-bottom: 0;
}

.cne-grid-evento-name {
    height: 26px;
    width: 100%;
    background-color: var(--theme-palette-color-1);
    color: white;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 14px;
    text-align: center;
    margin-top: -26px;
    z-index: 1;
    position: relative;
    padding: 1px;
}

/* Demais metadados */
.tainacan-cne-grid-container .tainacan-cne-grid-item .cne-grid-metadata .metadata-slug-tipo-da-atividade {
    grid-area: tipo;
    align-self: end;
}
.tainacan-cne-grid-container .tainacan-cne-grid-item .cne-grid-metadata .metadata-slug-tipo-da-atividade p {
    text-transform: uppercase;
    line-height: initial;
    font-size: 28px;
    margin-bottom: 0;
    color: #4b4b4b !important;
}
.tainacan-cne-grid-container .tainacan-cne-grid-item .cne-grid-metadata .metadata-slug-instituicao-2 {
    grid-area: instituicao;
    align-self: start;
}
.tainacan-cne-grid-container .tainacan-cne-grid-item .cne-grid-metadata .metadata-slug-instituicao-2 p {
    font-weight: bold;
    color: var(--theme-palette-color-1) !important;
    overflow: hidden;
    display: -webkit-box;
    line-clamp: 2;
    -webkit-line-clamp: 2; 
    -webkit-box-orient: vertical;
}

.tainacan-cne-grid-container .tainacan-cne-grid-item .cne-grid-metadata .metadata-slug-horario-de-inicio-da-atividade,
.tainacan-cne-grid-container .tainacan-cne-grid-item .cne-grid-metadata .metadata-slug-horario-de-fim-da-atividade {
    grid-area: hora;
    align-self: center;
    display: inline-block;
    position: relative;
}
.tainacan-cne-grid-container .tainacan-cne-grid-item .cne-grid-metadata .metadata-slug-horario-de-fim-da-atividade {
    justify-self: end
}
.tainacan-cne-grid-container .tainacan-cne-grid-item .cne-grid-metadata .metadata-slug-horario-de-inicio-da-atividade::before {
    content: '';
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 22C17.5228 22 22 17.5228 22 12C22 6.47715 17.5228 2 12 2C6.47715 2 2 6.47715 2 12C2 17.5228 6.47715 22 12 22Z' stroke='%231EAD9F' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M12 6V12L16 14' stroke='%231EAD9F' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
    width: 24px;
    height: 24px;
    display: block;
    position: absolute;
    left: -30px;
    top: 4px;
}
.tainacan-cne-grid-container .tainacan-cne-grid-item .cne-grid-metadata .metadata-slug-horario-de-inicio-da-atividade + .metadata-slug-horario-de-fim-da-atividade::before {
    content: ' às ';
    display: inline-block;
    font-size: 21px;
    color: var(--theme-palette-color-4);
    position: absolute;
    top: 0;
    left: -1.25em;
}
.tainacan-cne-grid-container .tainacan-cne-grid-item .cne-grid-metadata .metadata-slug-horario-de-inicio-da-atividade p,
.tainacan-cne-grid-container .tainacan-cne-grid-item .cne-grid-metadata .metadata-slug-horario-de-fim-da-atividade p {
    font-size: 21px;
    color: var(--theme-palette-color-4);
    margin-bottom: 0;
}
.tainacan-cne-grid-container .tainacan-cne-grid-item .cne-grid-metadata .metadata-type-core_title {
    grid-area: nome;
    align-self: start;
}
.tainacan-cne-grid-container .tainacan-cne-grid-item .cne-grid-metadata .metadata-type-core_title p {
    color: var(--theme-palette-color-4);
    margin-bottom: 0;
    overflow: hidden;
    display: -webkit-box;
    line-clamp: 2;
    -webkit-line-clamp: 2; 
    -webkit-box-orient: vertical;
}

.tainacan-cne-grid-container .tainacan-cne-grid-item .cne-grid-metadata .metadata-slug-estado,
.tainacan-cne-grid-container .tainacan-cne-grid-item .cne-grid-metadata .metadata-slug-estado-2 {
    grid-area: estado;
}
.tainacan-cne-grid-container .tainacan-cne-grid-item .cne-grid-metadata .metadata-slug-cidade,
.tainacan-cne-grid-container .tainacan-cne-grid-item .cne-grid-metadata .metadata-slug-cidade-2 {
    grid-area: cidade;
    justify-self: end;
}
.tainacan-cne-grid-container .tainacan-cne-grid-item .cne-grid-metadata .metadata-slug-estado p,
.tainacan-cne-grid-container .tainacan-cne-grid-item .cne-grid-metadata .metadata-slug-cidade p,
.tainacan-cne-grid-container .tainacan-cne-grid-item .cne-grid-metadata .metadata-slug-estado-2 p,
.tainacan-cne-grid-container .tainacan-cne-grid-item .cne-grid-metadata .metadata-slug-cidade-2 p {
    font-weight: bold;
    font-size: 14px;
    color: var(--theme-palette-color-12);
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 210px;
    white-space: nowrap;
}

/* Grid the Instituições */
.tainacan-cne-grid-container .tainacan-cne-grid-item--2 .cne-grid-item-title-and-thumbnail {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 16px 16px 0px 16px;
}
.tainacan-cne-grid-container .tainacan-cne-grid-item--2 .cne-grid-item-title-and-thumbnail h4 {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 0;
    color: var(--theme-palette-color-1) !important;
    overflow: hidden;
    display: -webkit-box;
    line-clamp: 3;
    -webkit-line-clamp: 3; 
    -webkit-box-orient: vertical;
    min-height: 78px;
    line-height: 1.25;
}
.tainacan-cne-grid-container .tainacan-cne-grid-item--2 .cne-grid-item-title-and-thumbnail img {
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center;
    aspect-ratio: 238/136;
}
@media screen and (min-width: 1000px) {
    .tainacan-cne-grid-container .tainacan-cne-grid-item--2 .cne-grid-item-title-and-thumbnail img {
        aspect-ratio: 1;
        width: 136px;
        height: 136px;
    }
    .tainacan-cne-grid-container .tainacan-cne-grid-item--2 .cne-grid-item-title-and-thumbnail {
        display: flex;
        flex-direction: row;
        align-items: end;
        gap: 32px;
    }
    .tainacan-cne-grid-container .tainacan-cne-grid-item--2 .cne-grid-item-title-and-thumbnail h4 {
        min-height: unset;
    }
}
.tainacan-cne-grid-container .tainacan-cne-grid-item--2 .cne-grid-metadata {
    padding: 8px 16px 16px 16px;
    gap: 16px;
    display: grid;
    grid-template-areas:
        'descricao descricao' 
        'estado    cidade   ';
    grid-template-rows: 85px 20px !important;
    grid-template-columns: 25px auto !important;
}
.tainacan-cne-grid-container .tainacan-cne-grid-item--2 .cne-grid-metadata .metadata-slug-descricao {
    grid-area: descricao;
}
.tainacan-cne-grid-container .tainacan-cne-grid-item--2 .cne-grid-metadata .metadata-slug-descricao p {
    color: var(--theme-palette-color-4);
    margin-bottom: 0;
    overflow: hidden;
    line-height: normal;
    display: -webkit-box;
    line-clamp: 4; 
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}

/* Atividades passadas */
.tainacan-cne-grid-container .tainacan-cne-grid-item--past {
    filter: grayscale(100%);
}
.tainacan-cne-grid-container .tainacan-cne-grid-item--past img {
    opacity: 0.5;
}
.tainacan-cne-grid-container .tainacan-cne-grid-item--past .cne-grid-item-past-tag {
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px 20px;
    top: 48px;
    background: white;
    color: black;
    width: 130px;
    position: absolute;
    z-index: 1;
    line-height: 1.75;
    border-radius: 8px;
    left: 32px;
}